[submodule "mqttreflect/lib/async_comm"]
	path = mqttreflect/lib/async_comm
	url = https://github.com/dpkoch/async_comm.git
[submodule "mqttreflect/lib/mqtt.c"]
	path = mqttreflect/lib/mqtt.c
	url = https://github.com/eclipse/paho.mqtt.c
[submodule "mqttreflect/lib/mqtt.cpp"]
	path = mqttreflect/lib/mqtt.cpp
	url = https://github.com/eclipse/paho.mqtt.cpp
[submodule "mqttreflect/lib/rapidjson"]
	path = mqttreflect/lib/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "mqttreflect/com2mqtt/resetusb"]
	path = mqttreflect/com2mqtt/resetusb
	url = https://github.com/mcarans/resetusb
[submodule "mqtt/simplemonitor"]
	path = mqtt/simplemonitor
	url = https://github.com/jamesoff/simplemonitor
[submodule "mqtt/simple-monitor-alert"]
	path = mqtt/simple-monitor-alert
	url = https://github.com/Nekmo/simple-monitor-alert
[submodule "mqtt/netdata"]
	path = mqtt/netdata
	url = https://github.com/netdata/netdata
